[submodule "third/glfw"]
	path = third/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third/glm"]
	path = third/glm
	url = https://github.com/g-truc/glm.git
[submodule "third/spdlog"]
	path = third/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third/assimp"]
	path = third/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third/freetype2"]
	path = third/freetype2
	url = http://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "third/nanogui"]
	path = third/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "third/nuklear"]
	path = third/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "third/fmt"]
	path = third/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third/PhysX"]
	path = third/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "third/lua/src"]
	path = third/lua/src
	url = https://github.com/lua/lua.git
[submodule "third/entt"]
	path = third/entt
	url = https://github.com/skypjack/entt.git
[submodule "third/harfbuzz"]
	path = third/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "third/msdfgen"]
	path = third/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
